body {
    padding: 5% 20%;
}

.gocenter {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 50%;
    width: 7em;
    height: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
    margin-bottom: 30px;
}